<div class="layout">

    <div class="button-row">
        <button class="btn">Default</button>
        <button class="btn">DEFAULT</button>
        <button class="btn">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default
        </button>
        <button class="btn danger">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Danger
        </button>
        <button class="btn primary">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Primary
        </button>
        <button class="btn success">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Success
        </button>
    </div>

    <div class="button-row">
        <button class="btn solid">Solid</button>
        <button class="btn solid">SOLID</button>
        <button class="btn solid">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid
        </button>
        <button class="btn solid danger">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Danger
        </button>
        <button class="btn solid primary">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Primary
        </button>
        <button class="btn solid success">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Success
        </button>
    </div>

    <div class="button-row">
        <button class="btn">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="btn solid">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="btn solid danger">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="btn solid primary">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="btn solid success">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
    </div>

    <div class="button-row">
        <div class="btn-group">
            <button class="btn solid darken">
                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            </button>
            <button class="btn solid">Default</button>
        </div>
        <div class="btn-group">
            <button class="btn solid danger">Danger</button>
            <button class="btn solid darken danger">
                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            </button>
        </div>
    </div>
</div>