@import "../../../../../styles/_variables.less";

.button-row {
  display: flex;
  > * {
    margin-right: 0.5em;
  }
}

.button-grid {
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
}

.card {
  background-color: @color-background;
  padding: 1rem;  
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}