<div class="page-layout">

    <div class="button-row">
        <button>Default</button>
        <button>DEFAULT</button>
        <button>
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default
        </button>
        <button disabled>
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Disabled
        </button>
        <button class="danger">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Danger
        </button>
        <button class="primary">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Primary
        </button>
        <button class="success">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Default Success
        </button>
    </div>


    <div class="button-row">
        <button class="solid">Solid</button>
        <button class="solid">SOLID</button>
        <button class="solid">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid
        </button>
        <button class="solid" disabled>
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Disabled
        </button>
        <button class="solid danger">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Danger
        </button>
        <button class="solid primary">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Primary
        </button>
        <button class="solid success">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            Solid Success
        </button>
    </div>


    <div class="button-row">
        <button>
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="solid">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="solid" disabled>
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="solid danger">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="solid primary">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button class="solid success">
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
    </div>


    <div class="button-row">
        <div class="btn-group">
            <button class="solid darken">
                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            </button>
            <button class="solid">Default</button>
        </div>
        <div class="btn-group">
            <button class="solid darken" disabled>
                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            </button>
            <button class="solid" disabled>Default Disabled</button>
        </div>
        <div class="btn-group">
            <button class="solid danger">Danger</button>
            <button class="solid darken danger">
                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
            </button>
        </div>
        <div class="btn-group">
            <div class="dropdown right-align">
                <button class="solid darken primary">
                    <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
                </button>
                <div class="drop-content">
                    <div class="card">
                        NICE DROPDOWN
                        <button class="solid">Default</button>
                    </div>
                </div>
            </div>
            <button class="solid primary">Primary</button>
        </div>
    </div>
</div>