@import "../_variables.less";
@import "../_mixins.less";

@active-solid-mix: 20%;
@color-disabled: mix(@color-foreground, @color-background, 50%);

/* MIXINS */

.darken-mixin(@color) {
  &.darken {
    background-color: mix(@color-foreground, @color, @active-solid-mix);

    &:active {
      background-color: mix(@color-foreground, @color, @active-solid-mix * 2);
    }

    &:disabled {
      background-color: mix(@color-foreground, @color-disabled, @active-solid-mix);
      box-shadow: none;
    }
  }
}

.button(@color) {
  display: grid;
  grid-template-columns: auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  place-items: center stretch;
  gap: 0.6em;
  min-height: @form-item-height;
  padding: 0.4em 0.7em;

  color: @color;
  background-color: @color-background;

  border-radius: 0;
  border: 0;

  .box-outline(fade(@color, 50%));

  font-family: @font-family-base;
  font-weight: @regular;

  transition: 0.2s;
  cursor: pointer;

  &:active {
    color: @color;
    background-color: mix(@color, @color-background, 10%);
    .box-outline(@color);
  }

  &:hover,
  &:focus {
    .box-outline-glow(@color, @color);
    z-index: 100;
  }

  &:disabled {
    color: @color-disabled;
    .box-outline(@color-disabled);
  }
}

.button-solid(@color) {
  background-color: @color;
  color: @color-background;

  .darken-mixin(@color);

  &:active {
    background-color: mix(@color-foreground, @color, @active-solid-mix);
  }

  &:hover,
  &:focus {
    .box-outline-glow(@color-background, @color);
    z-index: 100;
  }

  &:disabled {
    background-color: @color-disabled;
    box-shadow: none;
  }
}

@color-list: {
  danger: @color-danger;
  primary: @color-primary;
  success: @color-success;
};

/* CLASSES */

each(@color-list, {
  button.@{key} {
    .button(@value)
  }

  button.solid.@{key} {
    .button-solid(@value);
  }
});

button {
  .button(@color-accent);
}

button.solid {
  .button-solid(@color-accent);
}

.btn-group {
  display: grid;
  grid-auto-flow: column;
  transition: 0.2s;
}
