<form class="page-layout">
    <div class="form-layout default-font">
        <div>
            <label>Nome</label>
            <input />
        </div>
        <div>
            <label>Sobrenome</label>
            <input />
        </div>
        <div>
            <label>E-mail</label>
            <input />
        </div>
        <div>
            <label>Telefone</label>
            <input />
        </div>
    </div>

    <div class="footer">
        <button>Cancelar</button>
        <button class="solid">Confirmar</button>
    </div>
</form>